.header {
    width: 100%;
    height: 80px;
    /* background-color: #585858; */
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    overflow: auto;
}

.headerFixed {
    width: 100%;
    height: 80px;
    background-color: #585858;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.headerLeft {
    justify-self: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.headerLeft a {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.headerRight {
    justify-self: flex-end;
    flex: 1;
    padding-right: 1vw;
}

.headerRight ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.headerRight li {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.headerRight a {
    text-decoration: none;
    color: #b6b6b6 !important;
    font-size: 1.005em;
    font-weight: 450; 
}

@media all and (min-device-width: 480px) {


    .iconMenu {
        position: fixed;
        top: 0.5vw;
        left: 0.5vw;
        -webkit-animation: spinicon 0.5s ease;
        animation: spinicon 0.5s ease;
    }

}

@media all and (max-device-width: 480px) {


    .iconMenu {
        display: none;
        position: fixed;
        top: 0.5vw;
        left: 0.5vw;
        -webkit-animation: spinicon 0.5s ease;
        animation: spinicon 0.5s ease;
    }

}


@-webkit-keyframes spinicon {
    0% { 
        -webkit-transform: rotate(0deg); 
        opacity: 0.0; 
    }
    100% { 
        -webkit-transform: rotate(360deg); 
        opacity: 1.0; 
    }
}
  
@keyframes spinicon {
    0% { 
        transform: rotate(0deg); 
        opacity: 0.0; 
    } 
    100% { 
        transform: rotate(360deg); 
        opacity: 1.0; 
    }
}

