footer {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    background-color: #4e4e4e;
}

.footerItem {
    flex: 1
}

footer h1 {
    color: #bbbbbb;
    font-size: 1.4em;
}

footer p {
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #ffffff !important;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

footer a img {
    margin-right: 2%;
}